@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Burger menu */

.burger-menu {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    width: 40px;
    height: 30px;
}

.burger-menu span {
    height: 5px;
    width: 80%;
    transform: scale(1);
    border-radius: 999px;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0%;
}

.burger-menu::before,
.burger-menu::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 999px;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0%;
}

.burger-menu::before {
    top: 0;
}

.burger-menu::after {
    bottom: 0;
}

.burger-menu.active span {
    transform: scale(0);
}

.burger-menu.active::after {
    top: 50%;
    transform: translateY(-50%) rotate(45deg) ;
}

.burger-menu.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.open {
    display: flex !important;
}

.header__container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0px 5px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: url(/img/bg/mainbg.svg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;

}


.header__nav ul {
    align-items: center;
}

.start-btn {
    max-width: fit-content;
    display: block;
    border-radius: 999px;
    background: #7140EB;
    padding: 12px 50px;
    color: #FFFFFF;
}

.start-btn__huge {
    padding: 20px 54px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.start-btn:hover {
    background: #361f70;
    color: #9c9a9a;
}

.header__nav ul {
    display: flex;
    font-size: 1.125em;
    gap: 37px;
}

.header__nav ul a:visited {
    color: inherit;
}

.header__container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 126px;
    padding-bottom: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.header__container2 p {
    font-size: 1.3125em ;
    text-align: center;
    line-height: 23px;
}

h1 {
    text-align: center;
    font-size: 6.1875em;
    line-height: 112px;
    letter-spacing: 5px;
}

.howorks {
    overflow: hidden;
}

.howorks__title {
    color: #49464F;
}

h2 {
    font-size: 4.063rem;
    font-style: normal;
    font-weight: 400;
}

.howorks__container {
    max-width: 1040px;
    padding-top: 68px;
    padding-bottom: 73px;
    margin: 0 auto;
}

.howorks__container .start-btn {
    margin-top: 51px;
}

.howorks__content {
    flex: 0 0 100%;
}

.howorks__image {
    padding-top: 156px;
    padding-bottom: 68px;
}

.howorks__image img {
    max-width: 100%;
}

.howorks__list {
    margin-top: 71px;
    margin-left: 40px;
    color: #49464F;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.423px;
}

.move-container {
    max-width: 1040px;
    padding: 64px 0px;
    margin: 0 auto;
}

.move-title {
    color: #2E2C34;
    font-size: 67px;
}

.move-text {
    margin-top: 27px;
    color: #2E2C34;
    font-size: 20px;
}

.move-articles {
    flex-wrap: wrap;
    margin-top: 48px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.move-section {
    background-color: #F5F5F7;
}

.howworks-list li {
    margin-top: 24px;
}

.bicycle-article__price {
    display: flex;
    color: #49464F;
    font-size: 17px;
    gap: 16px;
}

.bicycle-article__offer {
    padding: 1px 10px;
    color: #7140EB;
    font-size: 16px;
    border-radius: 20px;
    background: #F1EEF8;
}

.bicycle-article__title {
    margin-top: 40px;
    color: #49464F;
    font-size: 29px;
}

.bicycle-article__class {
    color: #49464F;
    font-size: 18px;
    margin-bottom: 11px;
}

.details-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: fit-content;
    padding: 23px 37px;
    color: #2E2C34;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border-radius: 999px;
    border: 1px solid #2E2C34;
}

.details-btn:hover {
    background: #F1EEF8;
}

.details-btn__size-s{
    padding-top: 12px;
    padding-bottom: 12px;
}

.bicycle-article {
    border-radius: 16px;
    background: #FFF;
    padding: 67px 24px 32px 24px;
}

.ride__container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 74px 0px;
    gap: 17px;
}
.ride__title{
    font-size: 4.19rem;
    line-height: 100%;
    color: #2e2c34; 
}
.ride__text{
    margin: 26px 0px 40px 0px;
    font-size: 1.12rem;
    line-height: 120%;
    color: #2e2c34;
}

.city{
    background-image: url(/img/bg/citybg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.city__cities h2{
    font-size: 6.688rem;
    line-height: 6.949rem;
    color: #FFFFFF;
    text-align: end;
}

.city__container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
    padding-bottom: 61px;
}

.city__content{
    display: flex;
    justify-content: end;
    flex-direction: column;
    color: #FFFFFF ;
}
.city__content a:first-of-type{
    margin-top: 29px;
}
.city__title{
    margin-top: 12px;
    font-size: 4.063rem;
}
.city__description{
    font-size: 1.313rem;
    line-height: 1.563rem;
}
.city__link{
    margin-top: 33px;
    font-size: 18px;
}

.subscription__container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 75px 0px ;
}
.subscription__content{
    color: #2E2C34;
}
.subscription__articles{
    gap: 16px;
    display: flex;
}
.subscription__articles .bicycle-article{ 
    background-color: #F5F5F7 ;
}
.subscription__description{
    padding-top: 27px;
    padding-bottom: 36px;
    line-height: 24.82px;
    font-size: 1.313rem;
}
.subscription__advantages{
    flex-direction: column;
    display: flex;
    gap: 16px;
}
.subscription__advantages div{
    max-width: fit-content;
    display: flex;
    font-size: 16px;
    background-color: #F5F5F7;
    border-radius: 40px;
    color: #49464F;
    padding: 10px 16px;
    gap: 16px;
}

.faq{
    background-color: #F5F5F7;
    color: #2E2C34;
}
.faq__title{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.faq__title h2{
    margin-bottom: 52px;
}
.faq__container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 96px 0px;
}
.faq__question{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.faq__question div{
    display: flex;
    gap: 28px;
}
.rewiews{
    color: #49464F;
}
.rewiews__container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 98px;
    padding-top: 68px;
    padding-bottom: 73px;
}
.rewiews__text{
    font-size: 1.813rem;
}
.rewiews__rewiews{
    display: flex;
    justify-content: space-between;
}
.rewiews__rewiew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rewiews__person{
    margin-top: 19px;
    font-size: 1.063rem;
    justify-self: end;
}

/* Adaptiv */

@media screen and (max-width: 768px) {
    .ride__container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .ride__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .howorks__image{
        padding-top: 0px;
    }
    .howorks__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu {
        display: flex;
    }

    .header__nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #2E2C34;
        animation: burgerAnimation 0.4s;
    }

    .header__nav ul {
        flex-direction: column;
        row-gap: 30px;
    }
}

@media (min-width: 767px) {
    .howorks {
        display: flex;
    }

    .howorks__image {
        flex: 0 0 50%;
        transform: translate(-100%, 0px);
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}